include ../_layout/setup/path
include ../_data/creativeworks

mixin creativework(w, i)
  article(itemscope itemtype="http://schema.org/WebSite" data-rel="lightcase:myCollection:creativeworks" data-href=`#creativework-${i}`)
    h3.title= w.title
    img.thumb(src=path.images + "portfolio/" + w.thumb, loading="lazy", width="640", height="427", alt=w.title)
    .modal(id=`creativework-${i}`)
      .console.module-fade
        -
          let codeStr = "{\n" + Object.keys(w.data).map((key, idx) => {
            let comma = (idx < Object.keys(w.data).length - 1) ? "," : "";
            return `\t${key}: "${w.data[key]}"${comma}`;
          }).join("\n") + "\n}";
        pre(class="language-javascript"): code(class=`language-javascript`)!= highlight(codeStr, 'javascript')
      img.screenshot(src=path.images + "portfolio/" + w.screenshot, loading="lazy", width="860", height="580", alt="Screenshot")

section.portfolio
  h2.title Portfolio
  for work, index in creativeworks
    +creativework(work, index)
